# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Credit-Wallet.wiki.iml
/contentModel.xml

# Query files
/queries/

# Datasource local storage
/dataSources/
/dataSources.local.xml

# HTTP Client requests
/httpRequests/

# Visual Studio / .NET
.vs/
.vscode/
bin/
obj/
Debug/

# Ignore build folders anywhere
**/bin/
**/obj/

# User-specific files
*.user
*.suo

# Build outputs
*.exe
*.dll